body,h1,h2,h3,h4,h5,.barlow{
  font-family: 'Barlow', sans-serif!important;
}

.ls-3px{
  letter-spacing: 3px;
}

h5{
  letter-spacing: 3px!important;
  font-weight: 600;
}

.fw-500{
  font-weight: 500!important;
}

.fw-300{
  font-weight: 300!important;
}

.fw-600{
  font-weight: 600!important;
}

.fw-700{
  font-weight: 700!important;
}

.scroll-button{
  margin-top: 400px;
  position: absolute;
  bottom:20px;
  left: 48%;

}

.scroll-button-mobile{

  position: absolute;
  bottom:65px;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  text-align: center;s
}

.scroll-button-mobile span{
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid black;
  border-radius: 14px;
  padding: 0px 12px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-color: #fff;
}

.scroll-button span{
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid black;
  border-radius: 14px;
  padding: 0px 12px;
  font-size: 12px;
  font-weight: bold;
}

.scroll-button.darkBackground{
  color: white;
}

.scroll-button.darkBackground span{
  border-color: white;
}

i{
  font-style: unset!important;
}

.white{
  color:#fff!important;
}


.nav-custom.rd-navbar-nav{
  color: black;
}

.nav-custom.rd-navbar-nav li{
  color: black;
}

.nav-custom.rd-navbar-nav li a{
  color: black;
}

.nav-custom.darkBackground li a{
  color: white!important;
}


@media (min-width: 768px) {
  .rd-navbar-brand{
    position: fixed;
    top:40px;
  }

}

@media (min-width: 992px) {
  .rd-navbar-brand{
    position: fixed;
    top:55px;
    left: 0px;
  }
}


.brand .brand-logo-desktop{
  display: inline-block;
}

.rd-navbar-brand .brand{
  position: relative;
  padding: 15px 0px;
}

.rd-navbar-brand .brand .section-name{
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    margin-left: 70px;
    margin-right: 240px;
}

.rd-navbar-brand .brand .brand-logo-desktop{
  position: absolute;
  top: -28px;
  right: 10px;
}

.bg-composed-config{
  background-size: contain!important;
  background-position: left bottom;
  background-repeat: no-repeat;
}


.hr-black{
  display: block;
  height: 1px;
  background-color: #000;
}

.hr-hc{
  display: block;
  height: 1px;
}

h2{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  height: 160px;


}

h2 div{
  height: 60px;
  border-left: 5px solid;
  padding-left: 10px;

}

.colorobbia-panel img{
  width: 100%!important;
}

.hc-box{
  padding: 15px;
  border: 1px solid;
}

.brick{
  height: 15px;
  width: 100%;
  margin-bottom: 20px;
}


.column-icon-holder{
  border-radius: 50%;
  background-color: #111;
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.bg-black{
  background-color: #000!important;
}

.catalog-list-group{
  height: 100vh;
}

.catalog-list{
  margin: 15px 0px;
  padding: 15px 0px 15px 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  max-height: 40%;
  overflow-y: scroll;
}

.catalog-list ul {
  padding-left: 100px;
  padding-top: 50px;
}

.catalog-list ul li{
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}

.subfooter{
  background-color: #231f20;
  padding-bottom: 50px;
}


.footer-text{
  font-size: 13px;
  line-height: 24px;
}

.footer-form{

}

.footer-form input[type="email"]{
  border: 1px solid #999;
  width: 320px;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px 15px;
}

.footer-form button[type="submit"]{
  background-color: #009ee0;
  color: #fff;
  border-radius: 3px;
  border-color: #009ee0;
  padding: 5px 25px;
  font-weight: bold;
}

.logoFooter{
  height: 25px;
}

.rd-navbar-sidebar .rd-navbar-brand img{
  height: 60px;
}

.box-md{
  max-width: 100%!important;
}






/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
}
.video-modal {
	overflow: hidden;
	position: fixed;
	opacity: 0.0;

  -webkit-transform: translate(500%,0%);
  transform: translate(500%,0%);

  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: transform 0s linear 0s;


  /* using flexbox for vertical centering */

  /* Flexbox display */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  /* Vertical alignment */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.video-modal .overlay {
  z-index: 0;
  background: rgba(13,1,61,0.82); /* overlay color */

  opacity: 0.0;

  -webkit-transition: opacity 0.2s ease-out 0.05s;
  transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;

	margin: 0 auto;

	overflow-y: visible;

	background: #000;

  width: calc(100% - 12em);
  height: 0;
  padding-top: calc((100% - 12em) * 0.5625); /* 16:9 calc */
}

/* Scaling to fit within the current Viewport size:
   When viewport aspect ratio is greater than 16:9
   work off the height instead of the width for calc */
 @media (min-aspect-ratio: 16/9) {
  .video-modal-content {
    width: 0;
    height: calc(100vh - 10em);
    padding-top: 0;
    padding-left: calc((100vh - 10em) * 1.7778); /* 16:9 calc */
  }
}

/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
	.video-modal-content {
		width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625); /* 16:9 calc */
	}
}

/* modal close button */
.close-video-modal {
	display: block;
    position: absolute;
    left: 0;
    top: -40px;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	background: #000;
	box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

/* show the modal:
   add class to the body to reveal */
.show-video-modal .video-modal {
	opacity: 1.0;

	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
	opacity: 1.0;
}
.show-video-modal .video-modal-content {
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}


.rd-navbar-sidebar .rd-navbar-nav-wrap{
  background: black;
}
